<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data problem</title>
    <style>
        body {
            background-color: #f0f0f0;
            font-family: 'Luminari', sans-serif;
        }
    </style>

</head>
<body>
<div style="text-align: center;">
    <h1>Not enough data</h1>
    <p>This summoner didn't play enough ranked matches to calculate results.</p>
    <p>Remember that only last week's matches are taken into account.</p>
</div>
</body>
</html>