<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to shamer</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            text-align: center;
        }
        h1 {
            color: #333;
        }
        p {
            color: #666;
            font-size: 16px;
        }
        a {
            color: #007bff;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<div>
    <h1>Welcome to Shamer</h1>
    <p>Please go to <a href="/shamer/get-summoner">shame someone</a>.</p>

</div>

<div>
    <p>Please <a href="/shamer/get-summoner/Diamekod"> Try pulling a summoner</a></p>
</div>
</body>
</html>
