<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome page</title>
    <!-- Add any CSS styles or links to external stylesheets here -->
</head>
<body>
<div style="text-align: center;">
    <h1>Welcome to shamer</h1>
    <p>Please go to /get-summoner/{summonerId} to shame someone.</p>
    <p>If you need help, go to /help or click the link below: </p>
    <a href="/shamer/help">Help Page</a>
</div>
</body>
</html>